%h2
  = "#{@course.name} grades"
%h4= "Students"
.container-fluid
  .row
    .col
      %b= "#"
    .col
      %b= "Email"
    - @works.each do |work|
      .col
        %b= " #{work.name} %"
    .col
      %b= "Total %"
  - @enrolled_students.each_with_index do |enrollment, index|
    - if index.present?
      %hr
    .row
      .col
        = index + 1
      .col
        = enrollment.student.email
      - @works.each do |work|
        .col
          = link_to work.student_grade(enrollment.student.id), instructor_course_work_student_submissions_path(@course.id, work.id, enrollment.student.id), title: "View #{enrollment.student.email} submissions for work #{work.name}", class: "btn btn-outline-primary"
      .col
        = @course.student_grade(enrollment.student.id)
