- @courses.each_with_index do |course, index|
  - if !index.zero?
    %hr
  %h4
    = course.name
    = "(Section: #{course.section})"
  %h4= "Enrolled students: #{course.enrolled_students.count} students"
  %h6= link_to "You have #{course.pending_students.count} enrollment requests", students_instructor_course_path(course.id), class: "btn btn-info" if course.pending_students.count.positive?
  .actions
    = link_to "View Grades", grades_instructor_course_path(course.id), class: "btn btn-outline-danger d-block d-sm-inline m-1"
    = link_to "Works", instructor_course_works_path(course.id), class: "btn btn-outline-danger d-block d-sm-inline m-1"
    = link_to "Edit course", edit_instructor_course_path(course.id), class: "btn btn-outline-danger d-block d-sm-inline m-1"
    = link_to "Students", students_instructor_course_path(course.id), class: "btn btn-outline-danger d-block d-sm-inline m-1"
