.center
  = form_for [:instructor, @course] do |f|
    = f.label :course_name
    = f.text_field :name, autofocus: true, class: "form-control center", placeholder: "ex: Penetration testing"
    %br
    = f.label :section
    = f.text_field :section, autofocus: true, class: "form-control center", placeholder: "ex: 1"
    %br
    = f.label :description
    = f.text_area :description, autofocus: true, class: "form-control center", placeholder: "a technical hacking course."
    / add course year and semester..
    %br
    = f.submit "Create course!", class: "btn btn-success"
