%h2
  = "#{@course.name} students"

.row
  .col
    %b= "#"
  .col
    %b= "Student email"
  .col
    =''

- if @pending_students.count.positive?
  - @pending_students.each_with_index do |pending, index|
    - if index.present?
      %hr
    .row
      .col
        = index + 1
      .col
        = pending.student.email
      .col
        = link_to "Approve",handle_enrollment_instructor_course_path(course: @course.id, student_id: pending.student_id, status: "Accepted"), class: "btn btn-success"
        = link_to "Decline",handle_enrollment_instructor_course_path(course: @course.id, student_id: pending.student_id, status: "Declined"), class: "btn btn-danger"

- @enrolled_students.each_with_index do |enrolled, index|
  - if index.present?
    %hr
  .row
    .col
      = index + 1
    .col
      = enrolled.student.email
    .col
      = link_to "Kick",handle_enrollment_instructor_course_path(course: @course.id, student_id: enrolled.student_id, status: "Kick"), class: "btn btn-danger", data: { confirm: "Kicking the student will remove the student submissions and grades, kick #{enrolled.student.email} ?" }
