.center
  .center
  %h2
    = "Submissions for #{@course.name} - #{@work.name} #{@work.work_type}"
    %br
    %br
    = link_to "Add a new submission", new_student_course_work_submission_path(@course.id,@work.id), class: "btn btn-warning"
    %br
    %br
  .row.center
    .col.overflow-wrap
      = "#"
    .col.overflow-wrap
      = "Grade %"
    .col.overflow-wrap
      = "Status"
    .col.overflow-wrap
      = "Date"
    .col
      = ""
  %hr

- @submissions.each_with_index do |submission, index|
  %br
  .row.center
    .col.overflow-wrap
      = index + 1
    .col.overflow-wrap
      = submission.grade
    .col.overflow-wrap
      = submission.status
    .col.overflow-wrap
      = submission.created_at.to_s(:day_month_year_hour_minute)
    .col
      = link_to "Show code", student_course_work_submission_path(@course.id, @work.id, submission.id)
    %br
  %hr