.center
  %h3
    = "Add a new submission for #{@course.name} course / #{@work.work_type} #{@work.name} "
  %h5.red
    = "* Please make sure that your code doesn't print extra spaces or new lines!!"
  %h5
    = form_for [:student, :course, :work, @submission] do |f|
      = f.text_area :code, class: "form-control code", value: @submission.code
      %br
      = "Language"
      = f.select :language, Submission::LANGUAGES, selected: @submission.language
      %br
      %br
      = f.submit @submission.id.present? ? "Update code" : "Submit code", class: "btn btn-success"
      = link_to "Cancel", student_course_work_submissions_path(@course.id, @work.id), class: "btn btn-danger"
