%h3
  = "Add a new submission for #{@course.name} course / #{@work.work_type} #{@work.name} "
%h5
  = form_for [:student, :course, :work, @submission] do |f|
    = f.text_area :code, class: "code", value: @submission.code
    .actions
      %h5
        %span= "Language"
        = f.select :language, Submission::LANGUAGES_MAP.keys, selected: @submission.language
      - if Submission.exists?(@submission.id)
        = f.submit "Update code", class: "btn btn-success"
      - else
        = f.submit "Submit code", class: "btn btn-success"
      = link_to "Cancel", student_course_work_submissions_path(@course.id, @work.id), class: "btn btn-danger"
