%h3
  = "Add a new submission for #{@course.name} course / #{@work.work_type} #{@work.name} "
%h5
  = form_for [:instructor, :course, :work, @submission] do |f|
    = f.text_area :code, class: "code", value: @submission.code
    .actions
      %h5
        %span= "Language"
        = f.select :language, Submission::LANGUAGES_MAP.keys, selected: @submission.language
      = f.submit @submission.id.present? ? "Update code" : "Submit code", class: "btn btn-success"
      = link_to "Cancel", instructor_course_work_submissions_path(@course.id, @work.id), class: "btn btn-danger"
