.center
  %h2= "My courses"
  %br
  - @courses.each_with_index do |course, index|
    %h4
      = course.name
      = "(Section: #{course.section})"
    %br
    = course.description
    %br
    %br
    %h6
      = "Currently enrolled students: #{course.enrolled_students.count} student"
      %br
    %br
    = link_to "Works", student_course_works_path(course.id), class: "btn btn-outline-danger"
    / = link_to "View Mark", "", class: "btn btn-outline-danger"
    %hr