%h2= "My courses"
- @courses.each_with_index do |course, index|
  %h4
    = course.name
    = "(Section: #{course.section})"
  = course.description
  %h6
    = "Grade: #{course.student_grade(current_student.id)} %"
  = link_to "Works", student_course_works_path(course.id), class: "btn btn-outline-danger"
  %hr