.center
  %h2= "My courses"
  %br
  - @courses.each_with_index do |course, index|
    %h4
      = course.name
      = "(Section: #{course.section})"
    %br
    = course.description
    %br
    %br
    %h6
      = "Currently enrolled students: #{course.enrolled_students.count} student"
      %br
      %br
      = link_to "You have #{course.pending_students.count} enrollment requests", instructor_course_students_path(course.id), class: "btn btn-info" if course.pending_students.count.positive?
    %br
    = link_to "View Marks", "", class: "btn btn-outline-danger"
    = link_to "Works", instructor_course_path(course.id), class: "btn btn-outline-danger"
    = link_to "Edit course", edit_instructor_course_path(course.id), class: "btn btn-outline-danger"
    = link_to "Students", instructor_course_students_path(course.id), class: "btn btn-outline-danger"
    %hr