.container
  %br
  %br
  %br
  %h1
    %b
      = "Help"
  %br
  %h4
    = "If you have any suggestions, problems, or bugs you have found please don't hesitate to contact us!"
  %br
  %h5
    .row
      .col
        = "- Islam Odeh,"
        = link_to "Email: islamodeh@hotmail.com", "mailto: islamodeh@hotmail.com"
    %br
    .row
      .col
        = "- Majed Lutfi,"
        = link_to "Email: majedelutfi@hotmail.com", "mailto: majedelutfi@hotmail.com"