.modal{ class: "code", id: "submission_#{submission.id}" }
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title= "Submission: #{submission.id}, Language: #{submission.language}"
        %button.close{ "data-dismiss": "modal" }= "&times;".html_safe
      .modal-body
        .container-fluid
          = text_area_tag :student_code, submission.code, disabled: true

      .modal-footer
        %button.btn.btn-danger{data: {dismiss: "modal"}}
          Close
