.center
  %h2
    = "You have #{@course.assignments.count} Assignments & #{@course.quizzes.count} Quizzes for #{@course.name} course!"
    %br
    %br
  %h4="Works"
  %hr

  .row.center
    .col.overflow-wrap
      = "Type"
    .col.overflow-wrap
      = "Grade"
    .col.overflow-wrap
      = "Description"
    .col.overflow-wrap
      = "Starting from"
    .col.overflow-wrap
      = "Ending in"
    .col.overflow-wrap
      = ""
- @course.works.each do |work|
  %br
  .row.center
    .col.overflow-wrap
      = work.work_type
    .col.overflow-wrap
      = work.student_grade(current_student.id).to_s + " %"
    .col.overflow-wrap
      = work.description
    .col.overflow-wrap
      = client_zone_time(work.start_date).to_s(:day_month_year_hour_minute)
    .col.overflow-wrap
      = client_zone_time(work.end_date).to_s(:day_month_year_hour_minute)
    .col.overflow-wrap
      = link_to "Submissions", student_course_work_submissions_path(@course.id,work.id), class: "btn btn-warning"
      %br
      %br
  %hr