.center
  = form_for([:instructor, @course, @work]) do |f|
    = f.label :work_name
    = f.text_field :name, autofocus: true, class: "form-control center", placeholder: "ex: Assignment1"
    %br
    = f.label :description
    = f.text_area :description, autofocus: true, class: "form-control center", placeholder: "Chapter 1"
    %br
    = f.label :work_type
    = f.select :work_type, Work::WORK_TYPE
    %br
    %br
    .row
    = f.label :start_date
    = f.datetime_select :start_date
    %br
    = f.label :end_date
    = f.datetime_select :end_date
    .span.show_zone_name= "Using " + client_zone_name + " Zone"
    %br
    = f.submit "Update #{@work.work_type}", class: "btn btn-success"
    / DELETE /instructor/courses/:course_id/works/:id
    = link_to "Delete #{@work.work_type}!", instructor_course_work_path(@course.id, @work.id), class: "btn btn-danger", data: { confirm: "This will remove all student submissions and marks, are you sure ?" }, method: :delete
