.center
  %h2
    = "You have #{@course.assignments.count} Assignments & #{@course.quizzes.count} Quizzes for #{@course.name} course!"
    %br
    %br
    = link_to "Add a new Assignment/Quiz", new_instructor_course_work_path(@course.id), class: "btn btn-success"
    %br
    %br
  %h4="Works"
  %hr

  .row.center
    .col.overflow-wrap
      = "Type"
    .col.overflow-wrap
      = "# Of submissions"
    .col.overflow-wrap
      = "Description"
    .col.overflow-wrap
      = "Starting from"
    .col.overflow-wrap
      = "Ending in"
    .col.overflow-wrap
      = ""
- @course.works.each do |work|
  %br
  .row.center
    .col.overflow-wrap
      = work.work_type
    .col.overflow-wrap
      = work.submissions.count
    .col.overflow-wrap
      = work.description
    .col.overflow-wrap
      = client_zone_time(work.start_date)
    .col.overflow-wrap
      = client_zone_time(work.end_date)
    .col.overflow-wrap
      = link_to "Samples", instructor_course_work_samples_path(@course.id,work.id), class: "btn btn-warning"
      = link_to "Edit", edit_instructor_course_work_path(@course.id, work.id), class: "btn btn-warning"
  %hr