.center
  = form_for([:instructor, @course, @work]) do |f|
    = f.label :work_name
    = f.text_field :name, autofocus: true, class: "form-control", placeholder: "ex: Assignment 1"
    %br
    = f.label :description
    = f.text_area :description, autofocus: true, class: "form-control", placeholder: "ex: Write a code that reads 2 integers and print their summation."
    %br
    = f.label :work_type
    = f.select :work_type, Work::WORK_TYPE
    %br
    %br
    .row
    = f.label :start_date
    = f.datetime_select :start_date, default: client_zone_time(DateTime.current)
    .row
    = f.label :end_date
    = f.datetime_select :end_date, default: client_zone_time(DateTime.current + 1.month)
    %br
    .span.show_zone_name= "Using " + client_zone_name + " Zone"
    %br
    = f.submit "Create work!", class: "btn btn-success"
