.center
  / instructor_course_work_samples
  %h5.show_zone_name
    ="* Please note that extra spaces and new lines will take effect! so make sure inserting them correctly and not leaving extra ones."
  %br
  = form_for [:instructor, :course, :work, @sample] do |f|
    %h3= "Input sample"
    %br
    = f.text_area :input, class: "form-control enable-resize", placeholder: "1 2"
    %br
    %h3= "Expected output sample"
    = f.text_area :output, class: "form-control enable-resize", placeholder: "3"
    %br
    %br
    = f.submit "Create sample", class: "btn btn-success"