<!DOCTYPE html>
<html>
  <head>
    <title>CodeGrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Code Grader</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <% if current_user.present? %>
          <%= current_user.class.name %>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if current_user.present? %>
          <li class="nav-item active">
            <a class="nav-link" href="#"> <%= current_user.email %></a>
          </li>
          <li class="nav-item active">
            <%= link_to "Sign out", logout_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Instructor", new_instructor_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Student", new_student_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <br>
  <body class="<%= controller_name%> <%= action_name %>">
    <div class="container center">
      <% flash.each do |key, value| %>
        <!-- for devise -->
        <% if key === "alert" %>
          <% key = "danger" %>
        <% elsif key === "notice" %>
          <% key = "success" %>
        <% end %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
